*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
* a{
    text-decoration: none;
}
#home{
    padding:10px 0px 100px  0px;
    overflow: hidden;
    position: relative;
    /* border: 2px solid red; */
    z-index: 1;
}


.navbar{
    display: flex;
    /* border: 1px solid black; */
    z-index: 1;
    /* position: absolute; */
    justify-content: space-around;  

}


.lefg{
    display: flex;
    gap: 60px;
}
.links{
display: flex;
text-transform: capitalize;

justify-content: space-around;
gap: 20px;
}
.li1 svg{
    transition: 0.5s;
}
.li1:hover svg{
    fill: rgb(255, 170, 0);
    transform: rotate(180deg);
}
.box{
    cursor: pointer ;
    padding: 20px 10px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 10px 20px rgba(255, 106, 0, 0.122);
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}
.man{
    font-weight: 710;
    transition: 0.6s;
}
.li1:hover .man{
    color: rgb(255, 170, 0);
}

.box a{
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 15px;
    transition: 0.3s;
}
.box a:hover{
    background-color: rgba(255, 166, 0, 0.075);
    color: orange;

}
.li1{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
    z-index: 1;
}
.li1:hover .box{
    top: 05%;
    pointer-events: all;
    opacity: 1;
    
}
.li1 a{
    text-decoration: none;
    color: black;

}

.rigt{
    display: flex;
    position: relative;
    justify-content: center;
    /* align-items: center; */
    /* justify-content: space-around; */
    gap: 90px;
    padding: 0px 80px 0px 0px;
    /* text-decoration: none; */
}
.rigt a{
    text-decoration: none;
    color: black;
}
.rd{
    display: flex;
    gap: 5px;
    /* width: 200px; */
    /* border: 1px solid black; */
    padding: 10px 10px 5px 20px ;
    transition: 0.3s;
}
.rd svg{
    height: 30px;
    width: 30px;
    /* fill: transparent; */
    /* border: 1px solid black; */
}
.call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px 10px 5px 20px ;
    transition: 0.3s;
    
}
.call p{
    padding: 0px 0px 0px 03px;
   
}
 a:hover .call{
    color: rgb(255, 170, 0);
}
a:hover .rd{
    color: rgb(255, 170, 0);
}
.middle{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.beft{
    padding:190px 0px 0px 80px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle p{
    font-weight: lighter;
    
}
.beft h2{
    padding: 0px 50px 0px 0px;
    color: black;
    font-weight: 720;
    font-size: 70px;
}
.beft h1{
    color: rgb(255, 170, 0);
    font-size: 65px;
    padding: 0px 0px 0px 30px;
    font-weight:710;
}
.beft button{
    padding: 13px  40px;
    font-size: 22px;
    background: linear-gradient(to right,rgb(255, 48, 103),rgb(243, 142, 53));
    border: none;
    font-weight: 700;
    position: absolute;
    left: 18%;
    cursor:pointer ;
    top: 110%;
    box-shadow: 0px 10px 20px rgba(255, 106, 0, 0.241); 
    border-radius: 25px;
    color: aliceblue;
    text-transform: capitalize;
    transition: 0.5s;
}
.beft button:hover{
    box-shadow: 0px 15px 25px rgba(255, 106, 0, 0.31); 

}
.bight{
    /* border: 1px solid black; */
    padding:0px 0px 150px 0px;
    overflow: hidden;
    position: absolute;
    /* display: flex; */
    /* flex-direction: column; */
    top: 0;
    right: 0;
    width: 800px;
}
.fit{
    position: relative;
    z-index: -1;
    top: 0%;
}
.fi1 img{
    height: 450px;
    width: 600px;
    top: 0;
    right: 0%;
    position: absolute;
}
.fi2 img{
    height: 650px;
    width: 650px;
    top: 0%;
    right: 0%;
    z-index: -1;
    position: absolute;
}
.hin img{
    height: 550px;
    width: 700px;
}
.hin{
    display: flex;
    justify-content: center;
    align-items: center;
    animation:1.8s hin linear infinite;
   padding: 180px 70px 0px 0px;
   /* position: relative; */

}
 @keyframes hin {
     0%{
        top: 0;
     }
    
     50%{
        top: -1rem;
     }

     100%{
        top: 0;
     }
 }


.blob {
    position: absolute;
    left: 0;
    top:50% ;
    
}
.blob img{
    height: 450px;
    width: 160px;
}
.hou{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 390px 0px 0px 50px;
    gap: 60px;
}

.ho1{
    padding: 45px 75px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.208);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    gap: 20px;
    justify-content: center;
}
.ho1 img{
    height: 40px;
    width: 40px;

}
.sax{
    font-size: 20px;
    font-weight: 570;
}
.sox{
    font-size: 17px;
    border-bottom: 1.5px dashed rgb(243, 142, 53);
    color: gray;
    transition: 0.2s;
    cursor: pointer;
}
.sox:hover{
    /* color: aliceblue; */
    border-bottom: 1.5px dashed gray;
}

.fly{
    position: absolute;
    left: 32%;
    top: 53%;
}
.fly img{
    height: 200px;
    width: 200px;
}
#about{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 50px 0px 260px 0px;
}
.lift{
    position: relative;
}

.back{
    position: absolute;
    top: 10%;
    z-index: -1;
}
.back img{
    height: 600px;
    width:330px;
}
.reght{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 0px 200px 0px 0px
}
.infront img{
    height:550px;
    width: 650px;
}
.sad{
    padding: 0px 1px 0px 0px;
}
.sad h1{
    font-size: 64px;
    font-weight: 800;
}
.sad h4{
    color: rgb(243, 142, 53);
    font-size: 25px;
}
.reght p{
    line-height: 1.5;
    
}
.befs{
    padding: 0px 18px 0px 0px;
}
.reght button{
    padding: 20px  40px;
    font-size: 22px;
    background: linear-gradient(to right,rgb(255, 48, 103),rgb(243, 142, 53));
    border: none;
    font-weight: 700;
    position: absolute;
    left: 4%;
    cursor:pointer ;
    top: 110%;
    box-shadow: 0px 10px 20px rgba(255, 106, 0, 0.241); 
    border-radius: 35px;
    color: aliceblue;
    text-transform: capitalize;
    transition: 0.5s;
    display: flex;
    gap: 10px;
}
.wayback{
    position: absolute;
    right: 0;
    top: -10%;
}
.wayback img{
    width: 70px;
    height: 100px;
}
.reght svg{
    height: 12px;
    padding: 5px 5px 5px 6px ;
    fill: rgb(255, 48, 103);
    background-color: aliceblue;
    border-radius: 50%;
    width: 12px;
}
::selection{
    background-color: #ffeace;
}
#service{
    padding: 120px 0px 130px 0px;
    background-color: #fff4e6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.sca{
    position: absolute;
    top: 3%;
    left: 5%;
}
.sca img{
    height: 150px;
    width: 250px;
}
.sce{
    position: absolute;
    top: -14%;
    right: 0;
}
.sce img{
    height: 200px;
    width: 200px;
    
}
.serve{
    padding: 40px 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 300px;
    flex-direction: column;
}
.serve img{
height: 140px;
width: 140px;
}
.serve p{
    font-weight: lighter;
    font-size: 14px;
}
.serves{
    display: flex;
    gap: 30px;
}
.sead h1{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 800;

}
.sead h4{
    font-size: 23px;
 color: rgb(243, 142, 53);
 text-align: center;   
}
.serv{
    position: absolute;
    bottom: 1%;
    right: 10%;
}
.serv img{
    height: 140px;
    width: 140px;
}
.fisvg svg{
    height: 70px;
    fill: rgb(243, 142, 53);
    width: 70px;
}
.fisvg{
    position: absolute;
    top: -5%;
    left: 85%;
    
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.las svg{
    height: 25px;
    width: 25px;
    fill: rgb(243, 142, 53);
}
#shop{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 170px 30px 200px;
    gap: 70px;
}
.shop-cart{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.094);
    padding: 40px 30px 40px 30px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    /* height: 400px; */
    width: 300px;
}
.shop-cart p{
    font-size: 21px;
    font-weight: 700;
}
.bot{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cir{
    position: absolute;
    top: 0;
    left: 0;
}
.cir img{
    height: 160px;
    width: 90px;
}
.tri{
    right: 5%;
    top: 5%;
    position: absolute;
}
.tri img{
    height: 110px;
    width: 210px;
    
}
.sh{
    gap: 50px;
    display: flex;

}
.las{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.las h2{
    font-size: 30px;
    text-transform: capitalize;
}
.shop-cart button{
    display: flex;
    gap: 10px;
    padding:20px  35px;
    color: rgb(243, 142, 53);
    text-transform: capitalize;
    border: 1px solid rgb(243, 142, 53);
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}
.shop-cart button svg{
    height: 20px;
    fill: rgb(243, 142, 53);
    width: 20px;
    transition: 0.3s;
}
.shop-cart button:hover{
    background-color: rgb(243, 142, 53);
    color: white;
}
.shop-cart button:hover svg{
    fill: white;
}
.sho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    flex-direction: column;
}
.sho p{
    color: rgb(243, 142, 53);
    font-weight: 700;
    font-size: 18px;
}
.sho h1{
    font-size: 55px;

}
.path{
    position: absolute;
    /* bottom: 1%; */
    top: 79%;
    left: 10%;

}
.path img{
    height: 150px;
    width: 220px;  
}
.outa button{
    padding: 13px  40px;
    font-size: 22px;
    background: linear-gradient(to right,rgb(255, 75, 123),rgb(243, 142, 53));
    border: none;
    font-weight: 700;
    position: absolute;
    left: 45%;
    cursor:pointer ;
    top:85%;
    box-shadow: 0px 10px 20px rgba(255, 106, 0, 0.241); 
    border-radius: 25px;
    color: aliceblue;
    text-transform: capitalize;
    transition: 0.5s;
}
#tech{
    padding: 130px 0px 100px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.tech{
    background-color:#fff4e6;
    position: relative;
    padding: 30px 0px 0px 0px;
    flex-direction: column;
    height: 570px;
    align-items: center;
    display: flex;
    gap: 20px;
    /* justify-content: center; */

}
.ontech{
    top: -21%;
    width: 100%;
    left: -0%;
    z-index: -1;
    position: absolute;
}
.ontech img{
    height: 160px;
    width: 100%;
}
.tecimg{
    /* position: absolute; */
    top: 20%;
}
.tecimg img{
    height: 500px;
    width: 800px;
    border-radius: 30px;
}
.texc{
    padding: 30px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5;
    
}
.texc h1{
    font-size: 60px;
    font-weight: 800;
}
.texc h3{
    font-weight: 750;
    color: rgb(255, 170, 0);

}
.under-t{
    position: absolute;
    top: 100%;
    z-index: -1;

    width: 100%;
}
.under-t img{
    height: 100px;
    width: 100%;
}
.bri{
    left: 5%;
    top: 5%;
    position: absolute;
}
.bri img{
    height: 110px;
    width: 210px;
    
}
.parts{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 240px 0px 0px;
}
.part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    border-right: 1px solid rgba(128, 128, 128, 0.547);
}

.part2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    border-right: 1px solid rgba(128, 128, 128, 0.547);
}

.part3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    /* border-right: 1px solid gray; */
}

.part1 span{
    font-size: 75px;
    font-weight: 690;
    color: rgb(253, 108, 86);
}
.part1 h3{
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 690;
    color: rgb(253, 108, 86);
}

.part2 span{
    font-size: 75px;
    font-weight: 690;
    color: rgb(253, 138, 86);
}
.part2 h3{
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 690;
    color: rgb(253, 138, 86);
}
.part3 span{
    font-size: 75px;
    font-weight: 690;
    color: rgb(253, 164, 86);
}
.part3 h3{
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 690;
    color: rgb(253, 164, 86);
}

.cir1{
    position: absolute;
    top: 8%;
    left: 0;
}
.cir1 img{
    height: 160px;
    width: 100px;
}
#types{ 
    position: relative;
    /* height: 500px; */
    padding: 100px 0px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    
}
.thin-layer{
    top: 3%;
    height: 5px;
    border-radius: 30px;
    width: 1100px;
    left: 10%;
    background-color:#ffeace;
    position: absolute;

}
.blob2 {
    position: absolute;
    right: 0;
    top:5% ;
    
}
.blob2 img{
    height: 450px;
    width: 170px;
}
.fly1{
    position: absolute;
    right: 23%;
    top: 15%;
}
.fly1 img{
    height: 150px;
    width: 150px;
}
.cri{
    left: 20%;
    top: 10%;
    position: absolute;
}
.cri img{
    height: 180px;
    width: 180px;
    
}
.type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 120px 0px 50px;
}
.type h1{
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
}
.type h3{
    font-weight: 750;
    color: rgb(255, 170, 0);

} 
.vect{
    position: absolute;
    top:32%;
    z-index: -1;
    left: 25%;
}
.vect img{
    height:700px;
    width: 800px;
    z-index: -1;
}
.k{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    position: relative;
    top: 80%;
   
}
.k-honey{
    display: flex;
    position: relative;
    height: 280px;
    width: 570px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.144);
    /* border: 1px solid red; */
    
}
.k-honey img{
   width: 100%;
   height: 320px;
}
.words{
    position: absolute;
    right: 10%;
    top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   padding: 20px 0px 0px; 
}
.words h1{
    font-weight: 790;
    font-size: 30px;
}
.k-lin{
    position:absolute;
    top: 65%;
    right: 13%;
}
.k-lin a{
    font-size: 19px;
    border-bottom: 2px dashed rgb(243, 142, 53);
    color: rgb(243, 142, 53);
    transition: 0.2s;
    cursor: pointer;
}
.k-lin:hover a{
    /* color: aliceblue; */
    border-bottom: 2px dashed rgb(242, 169, 106);
}
.dri{
    right:0%;
    top: 85%;
    position: absolute;
}
.dri img{
    height: 180px;
    width: 180px;
    
}
#blog{
    padding: 100px 0px 0px;
    position: relative;
}
.blogs{
   padding: 0px 0px 170px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#fff4e6;
}

.qri{
    right: 0%;
    top: 10%;
    position: absolute;
}
.qri img{
    height: 80px;
    width: 150px;
    
}
.upper{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.upper img{
    height: 100%;
    width: 100%;
}
.bee{
    position: absolute;
    top: 50%;
    left: 1%;
}
.bee img{
    height: 140px;
    width: 140px;
    
}
.blogz{
    display: flex;
    padding: 50px 0px 0px 0px;
    gap: 20px;
    justify-content: center;
}
.blog1{
    margin: auto;
    overflow: hidden;
    border-radius: 30px;
    width: 320px;
    /* padding: 0px 0px 30px; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.104);
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* gap: 30px; */
}

.up img{
    width: 100%;
    /* height: 190px; */
    height: 100%;

}
.up-h{
    line-height: 1.1;
}
.up-h h1{
    font-weight: 800;
    transition: 0.2s;
    font-size: 20px;
    cursor: pointer;
}

.up-h h1:hover{
    color: rgb(243, 142, 53);
}
.up-s p{
    padding: 12px 0px 0px 0px;
    text-transform: capitalize;
    color:rgba(0, 0, 0, 0.469);
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
}
.up-s p:hover{
    color: rgb(243, 142, 53);
}
.up-s{
    padding: 0px 0px 3px ;
    width: 280px;
    display: flex;
    gap: 2px;
    background-color: #fafafa;
    border-radius: 10px;
}
.up{
    background-color: white;
}
.up-s img{
    padding: 0px 0px 0px 10px;
}
.down{
    padding: 0px 10px 0px 20px;
    display: flex;
    height: 430px;
    background-color: white;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    /* border: 1px solid; */
    /* width: 280px; */
    flex-direction: column;
}
.up-t{
    gap: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.t1{
    padding: 5px 0px 5px 5px;
    background-color: #fafafa;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}
.t1 p{
    padding: 0px 0px 0px 0px;
    transition: 0.2s;
    font-size: 14px;
    cursor: pointer;
    color:rgba(0, 0, 0, 0.63);
}
.t1 p:hover{
    color: rgb(243, 142, 53);
}
.up-w{
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.up-b button{
    display: flex;
    gap: 10px;
    padding:11px  30px;
    color: rgb(243, 142, 53);
    text-transform: capitalize;
    border: 1px solid rgb(243, 142, 53);
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 690;
    cursor: pointer;
    transition: 0.3s;
}
.up-b button:hover{
    background-color: rgb(243, 142, 53);
    color: white;
}
.up-ic{
    display: flex;
}
.up-ic svg{
  
    fill: rgb(243, 142, 53);
}
.t1 svg{
    fill: rgb(243, 142, 53);
    height: 20px;
    width: 20px;
}
.all button{
    padding: 12px  25px;
    font-size: 20px;
    background: linear-gradient(to right,rgb(255, 75, 123),rgb(243, 142, 53));
    border: none;
    font-weight: 700;
    position: absolute;
    left: 45%;
    cursor:pointer ;
    top:85%;
    box-shadow: 0px 10px 20px rgba(255, 106, 0, 0.241); 
    border-radius: 25px;
    color: aliceblue;
    text-transform: capitalize;
    transition: 0.5s;
}
.all  button:hover{
    box-shadow: 0px 15px 25px rgba(255, 106, 0, 0.31); 

}
.our-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    /* padding: 120px 0px 50px; */
}
.our-blog h1{
    font-size: 50px;
    font-weight: 810;
    text-transform: capitalize;
}
.our-blog h3{
    font-weight: 790;
    color: rgb(255, 170, 0);
} 
.b-path {
    position: absolute;
    /* bottom: 1%; */
    top: 85%;
    right:5%;

}
.b-path img{
    height: 135px;
    width: 190px;  
}
#test{
    display: flex;
    gap: 80px;
    justify-content: center;
    padding: 0px 0px 190px 0px ;
    /* height: 300px; */
    flex-direction: column;
    align-items: center;
    position: relative;
}
.test-b{
    position: absolute;
    left: 0;
    top:20% ;
    
}
.test-b img{
    height: 450px;
    width: 160px;
}
.our-test{
    padding: 100px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    /* padding: 120px 0px 50px; */
}
.our-test h1{
    font-size: 40px;
    font-weight: 810;
    text-transform: capitalize;
}
.our-test h3{
    font-weight: 790;
    color: rgb(255, 170, 0);
} 

.hap{
    display: flex;
    padding: 20px 30px 40px 30px;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    width: 630px;
    /* height: 300px; */
    /* border: 2px solid green; */
    
}
.hap-w{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hap-p{
    border-radius: 15px;
    width: 330px;
    padding: 20px 0px 20px 15px;
    background-color:#fff4e6;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.803);
    font-weight: 100;
   
}
.hap-i img{
    height: 33px;
    width: 50px;

}
.hap h4{
    color: rgb(255, 170, 0);
}
.happy{
    display: flex;
    width: 1890px;
    padding: 0px 20px 0px 20px;
    position: relative;
    -webkit-animation-name:happy ;
    -webkit-animation-duration: 17s;
    -webkit-animation-direction:alternate;
    -webkit-animation-play-state:running;
    -webkit-animation-iteration-count: infinite;
   
}
@-webkit-keyframes happy {
    0%{
        left: 0px;
    }
    10%{
        left: 0px;
    }
    20%{
        left: -630px;
    }
    30%{
        left: -630px;
    }
    40%{
        left: -1260px;
    }
    50%{
        left: -1260px;
    }
    60%{
        left:-630px ;
    }
    70%{
        left: -630px;
    }
    80%{
        left:0px;
    }
    90%{
        left: 0px;
    }
    100%{
        left: 0px;
    }
    }


.our-happy{
    width: 630px;
    /* height: 500px; */
    padding: 25px 30px 30px 20px;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.132);
    overflow: hidden;
    border-radius: 20px;
    
    /* animation:  happy 6s infinite linear;  */
}
.test-btn button{
    padding: 12px  35px;
    font-size: 20px;
    background: linear-gradient(to right,rgb(255, 75, 123),rgb(243, 142, 53));
    border: none;
    font-weight: 700;
    position: absolute;
    left: 45%;
    cursor:pointer ;
    top:80%;
    box-shadow: 0px 10px 20px rgba(255, 106, 0, 0.241); 
    border-radius: 25px;
    color: aliceblue;
    text-transform: capitalize;
    transition: 0.5s;
}
.test-btn  button:hover{
    box-shadow: 0px 15px 25px rgba(255, 106, 0, 0.31); 

}
#footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.onfoot{
    top: -21%;
    width: 100%;
    left: -0%;
    z-index: -1;
    position: absolute;
    display: flex;
}
.onfoot img{
    /* height: 100px; */
    width: 100%;
}
.foot{
    padding: 100px 0px 100px ;
    background-color: #fff4e6;
    width: 100%;
    justify-content: space-evenly;
    display: flex;

}
.foot-m{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}
.menu-h{
    display: flex;
    padding: 0px 70px 0px 0px;
    gap: 0px;
}
.menu-h img{
    height: 30px;
    width: 30px;
}
.menu-h p{
    font-size: 20px;  
    font-weight: 550;  
    padding: 05px 0px 0px 0px;
}
.linkz{
    gap: 17px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.linkz a{
    color: rgba(0, 0, 0, 0.662);
    font-size: 15px;
    transition: 0.4s;
    text-transform: capitalize;
}
.linkz a:hover{
    color: rgb(242, 169, 106);
}


