*{
    margin: 0;
    padding: 0;
}
.hap{
    display: flex;
    padding: 20px 30px 40px 30px;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    width: 630px;
    /* border: 2px solid green; */
    
}
.hap-w{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hap-p{
    border-radius: 15px;
    width: 330px;
    padding: 20px 20px 20px 15px;
    background-color:rgb(255, 205, 105);
    line-height: 1.2;
   
}
.hap-i img{
    height: 33px;
    width: 50px;

}
.hap h4{
    color: rgb(255, 170, 0);
}
.happy{
    display: flex;
    width: 1890px;
    position: relative;
    -webkit-animation-name:happy ;
    -webkit-animation-duration: 15s;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state:paused;
    -webkit-animation-iteration-count: infinite;


   
}
@-webkit-keyframes happy {
    0%{
        left: 0px;
    }
    10%{
        left: 0px;
    }
    20%{
        left: -630px;
    }
    30%{
        left: -630px;
    }
    40%{
        left: -1260px;
    }
    50%{
        left: -1260px;
    }
    60%{
        left:-630px ;
    }
    70%{
        left: -630px;
    }
    80%{
        left:0px;
    }
    90%{
        left: 0px;
    }
    100%{
        left: 0px;
    }
    }


.our-happy{
    width: 630px;
    padding: 20px 30px 20px 20px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.132);
    overflow: hidden;
    border-radius: 20px;
    /* animation:  happy 6s infinite linear;  */
}
