*{
    margin: 0;
}

.bites{
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    justify-content: center;
    gap: 10px;
    padding: 30px 0px 30px 20px;
    /* align-items: center; */
}
.bit{
    gap: 02px;
    transition: 0.4s;
}
/* .kog{
    border: 2px solid black;
} */
.long{
    width: 30px;
    border: 1.5px solid black;
}
.shot{
    transition: 0.4s;
    width: 15px;
    border: 1.5px solid black;
}

.sho{
    width: 30px;
    /* border: 2px solid black; */
     
    transition: 0.4s;

}
