*{
    margin: 0;
    padding: 0;
}
.wsp{
    background-color: rgba(0, 0, 0, 0.278);
    padding: 20px;
}
.shits{
color: red;
border: 1px solid black;
width: 400px;
display: flex;
padding: 20px;
flex-direction: column;
gap: 10px;
}
.shits-nigga{
    display: flex;
    width: 1200px;
    position: relative;
top: 0;
-webkit-animation-name: nigga;
-webkit-animation-duration: 12s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-play-state: running;
-webkit-animation-direction: alternate;

}
@-webkit-keyframes nigga{ 

    0%{
        left: 0px;
    }
    10%{
        left: 0px;
    }
    20%{
        left: -400px;
    }
    30%{
        left: -400px;
    }
    40%{
        left: -800px;
    }
    50%{
        left: -800px;
    }
    60%{
        left: -400px;
    }
      70%{
        left: -400px;
    }
    80%{
        left: 0px;
    }

    90%{
        left: 0px;
    }
    100%{
        left: 0px;
    }

}
.our-shits{
    width: 400px;
    display: flex;
    overflow: hidden;
}